# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apimappingconfig.edge-orchestrator.intel.com/v1
kind: APIMappingConfig
metadata:
  name: amc-app-orch-deployment-app-deployment-manager-openapi
  labels:
    configs.config.edge-orchestrator.intel.com: default
spec:
  specGenEnabled: true
  repoConf:
    url: "https://github.com/open-edge-platform/app-orch-deployment.git"
    tag: "v2.3.12"
    specFilePath: "app-deployment-manager/api/nbi/v2/spec/openapi.yaml"
  mappings:
    - externalURI: /v1/projects/{projectName}/appdeployment/clusters
      serviceURI: deployment.orchestrator.apis/v1/clusters
    - externalURI: /v1/projects/{projectName}/appdeployment/clusters/{clusterId}
      serviceURI: deployment.orchestrator.apis/v1/clusters/{clusterId}
    - externalURI: /v1/projects/{projectName}/appdeployment/deployments
      serviceURI: deployment.orchestrator.apis/v1/deployments
    - externalURI: /v1/projects/{projectName}/appdeployment/deployments/{deplId}
      serviceURI: deployment.orchestrator.apis/v1/deployments/{deplId}
    - externalURI: /v1/projects/{projectName}/appdeployment/deployments/{deplId}/clusters
      serviceURI: deployment.orchestrator.apis/v1/deployments/{deplId}/clusters
    - externalURI: /v1/projects/{projectName}/summary/deployments_status
      serviceURI: deployment.orchestrator.apis/v1/summary/deployments_status
    - externalURI: /v1/projects/{projectName}/deployments/clusters/{clusterId}
      serviceURI: deployment.orchestrator.apis/v1/deployments/clusters/{clusterId}
    - externalURI: /v1/projects/{projectName}/ui_extensions
      serviceURI: deployment.orchestrator.apis/v1/ui_extensions
  backend:
    service: "app-deployment-api-rest-proxy.orch-app.svc.cluster.local"
    port: 8081
