# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apimappingconfig.edge-orchestrator.intel.com/v1
kind: APIMappingConfig
metadata:
  name: amc-app-orch-catalog-utilities-openapi
  labels:
    configs.config.edge-orchestrator.intel.com: default
spec:
  specGenEnabled: true
  repoConf:
    url: "https://github.com/open-edge-platform/app-orch-catalog.git"
    tag: "v0.11.5"
    specFilePath: "api/spec/utilities-openapi.yaml"
  mappings:
    - externalURI: /v3/projects/{projectName}/catalog/charts
      serviceURI: catalog.orchestrator.apis/charts
    - externalURI: /v3/projects/{projectName}/catalog/upload
      serviceURI: catalog.orchestrator.apis/upload
  backend:
    service: "app-orch-catalog-rest-proxy.orch-app.svc.cluster.local"
    port: 8081