# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apimappingconfig.edge-orchestrator.intel.com/v1
kind: APIMappingConfig
metadata:
  name: amc-o11y-alerting-monitor-openapi
  labels:
    configs.config.edge-orchestrator.intel.com: default
spec:
  specGenEnabled: true
  repoConf:
    url: "https://github.com/open-edge-platform/o11y-alerting-monitor.git"
    tag: "v1.6.29"
    specFilePath: "api/v1/openapi.yaml"
  mappings:
    - externalURI: /v1/projects/{projectName}/alerts
      serviceURI: "api/v1/alerts"
    - externalURI: /v1/projects/{projectName}/alerts/definitions
      serviceURI: "api/v1/alerts/definitions"
    - externalURI: /v1/projects/{projectName}/alerts/definitions/{alertDefinitionID}
      serviceURI: "api/v1/alerts/definitions/{alertDefinitionID}"
    - externalURI: /v1/projects/{projectName}/alerts/definitions/{alertDefinitionID}/template
      serviceURI: "api/v1/alerts/definitions/{alertDefinitionID}/template"
    - externalURI: /v1/projects/{projectName}/alerts/receivers
      serviceURI: "api/v1/alerts/receivers"
    - externalURI: /v1/projects/{projectName}/alerts/receivers/{receiverID}
      serviceURI: "api/v1/alerts/receivers/{receiverID}"
    - externalURI: /v1/status
      serviceURI: "api/v1/status"
  backend:
    service: "alerting-monitor.orch-infra.svc.cluster.local"
    port: 8080
