# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request. Use email address instead of GitHub user.

# Everything requires Platform team review by default
* @johnoloughlin @garyloug @palade @SushilLakra @diwanc @eoghanlawless @hyunsun @soniabha-intc @sunil-parida @cjnolan @rranjan3

# Dependabot is used to manage dependencies in this repository. It is configured to automatically open pull requests to
# update dependencies when new versions are available. The following files are managed by Dependabot and do not require
# manual review or approval for changes. However, if you want to review the changes made by Dependabot, you can do so
# by checking the pull requests it opens. This workaround was shared in
# https://github.com/orgs/community/discussions/23064#discussioncomment-8383923 and can be removed once GitHub properly
# supports CODEOWNERS for GitHub apps.
# Go modules dependencies
**/*.mod
**/*.sum
# Helm dependencies
**/Chart.yaml
**/values.yaml
# Docker dependencies
**/Dockerfile
# GitHub Actions dependencies
/.github/workflows/*.yml
/.github/workflows/*.yaml
