// SPDX-FileCopyrightText: (C) 2025 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

package helper

//nolint:gci // generated imports.
import (
    "context"
    //nolint:gosec // only useful fixed strig hashing and not for security.
    "crypto/sha1"
    "encoding/hex"
    "fmt"
    "github.com/elliotchance/orderedmap"

    datamodel "{{.CrdModulePath}}/client/clientset/versioned"
    metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"
)

const DefaultKey = "default"
const DisplayNameLabel = "nexus/display_name"
const IsNameHashedLabel = "nexus/is_name_hashed"

//nolint:lll // Generated code. Length depends on actual graph depth.
func GetCRDParentsMap() map[string][]string {
    return {{.GetCrdParentsMap}}
}

//nolint:gocyclo,funlen,cyclop // Generated code. Length depends on actual graph depth.
func GetObjectByCRDName(dmClient *datamodel.Clientset, crdName, name string) interface{} {
	{{.GetObjectByCRDName}}

    return nil
}

func ParseCRDLabels(crdName string, labels map[string]string) *orderedmap.OrderedMap {
    parents := GetCRDParentsMap()[crdName]

    m := orderedmap.NewOrderedMap()
    for _, parent := range parents {
        if label, ok := labels[parent]; ok {
            m.Set(parent, label)
        } else {
            m.Set(parent, DefaultKey)
        }
    }

    return m
}

func GetHashedName(crdName string, labels map[string]string, name string) string {
    orderedLabels := ParseCRDLabels(crdName, labels)

    var output string
    for i, key := range orderedLabels.Keys() {
        value, _ := orderedLabels.Get(key)

        output += fmt.Sprintf("%s:%s", key, value)
        if i < orderedLabels.Len()-1 {
            output += "/"
        }
    }

	output += fmt.Sprintf("%s:%s", crdName, name)
    //nolint:gosec // only useful fixed strig hashing and not for security.
    h := sha1.New()
    _, _ = h.Write([]byte(output))
    return hex.EncodeToString(h.Sum(nil))
}
