# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# OpenAPI validator
openapi-spec-validator~=0.7.1

# YAML linter
yamllint~=1.35.1

# license checking
reuse~=5.0.2
